<footer id="footer">
    <div>
        <p>&copy; <time itemprop="copyrightYear">2019</time> ZUBRY.BY<br> Все права защищены. <br> <a class="phone" href="./accessibility.html">Заявление о доступности</a></p>
        <a itemprop="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank" aria-label="Лицензия: Creative Commons License" rel="external noreferrer noopener nofollow">
            <img alt="" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" style="max-width:100%;">
        </a>
    </div>
    <address>
        <p>Связаться по вопросам<br> экспонирования можно через:</p>
        <ul class="contacts social">
            <li>
                <a href="https://www.facebook.com/artur.basak" aria-label="Аккаунт в facebook" target="_blank" rel="noreferrer noopener external nofollow">
                    <img src="./assets/icons/fb-logo.png" width="34" height="34" aria-hidden="true" alt=""  />
                </a>
            </li>
            <li>
                <a href="https://vk.com/artur.basak" aria-label="Аккаунт в vkontakte" target="_blank" rel="noreferrer noopener external nofollow">
                    <img src="./assets/icons/vk-logo.png" width="34" height="34" aria-hidden="true" alt=""  />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/ArturBasak" aria-label="Аккаунт в twitter" target="_blank" rel="noreferrer noopener external">
                    <img src="./assets/icons/twitter-logo.png" width="34" height="34" aria-hidden="true" alt=""  />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/zubry.by" aria-label="Аккаунт в instagram" target="_blank" rel="noreferrer noopener external">
                    <img src="./assets/icons/insta-logo.png" width="34" height="34" aria-hidden="true" alt="" />
                </a>
            </li>
        </ul>
    </address>
    <address>
        <ul class="contacts">
            <li>
                <a class="phone" href="skype:archik408" aria-label="Скайп: archik408" >
                    <svg width="16" height="16" x="0" y="0" viewBox="0 0 255 255" aria-hidden="true" focusable="false">
                        <g transform="translate(-247,-404.36218)">
                            <g transform="matrix(3.9546962,0,0,3.9546962,256.35911,-298.12402)">
                                <path d="m 57.8,214.9 c 0.3,-1.6 0.4,-3.2 0.4,-4.9 0,-15.6 -12.6,-28.2 -28.2,-28.2 -1.7,0 -3.3,0.1 -4.9,0.4 C 22.6,180.8 19.8,180 16.8,180 7.5,180 0,187.5 0,196.8 c 0,3 0.8,5.9 2.2,8.3 -0.3,1.6 -0.4,3.2 -0.4,4.9 0,15.6 12.6,28.2 28.2,28.2 1.7,0 3.3,-0.1 4.9,-0.4 2.5,1.4 5.3,2.2 8.3,2.2 9.3,0 16.8,-7.5 16.8,-16.8 0,-3 -0.8,-5.8 -2.2,-8.3 z m -14.6,20.8 c -2.2,0 -4.3,-0.6 -6.2,-1.6 l -1.3,-0.8 -1.5,0.3 C 32.9,233.8 31.5,234 30,234 16.8,234 6.1,223.3 6.1,210.1 c 0,-1.4 0.1,-2.8 0.4,-4.2 L 6.8,204.4 5.9,203 c -1.1,-1.9 -1.6,-4 -1.6,-6.2 0,-6.9 5.6,-12.5 12.5,-12.5 2.2,0 4.3,0.6 6.2,1.6 l 1.3,0.8 1.5,-0.3 c 1.4,-0.2 2.8,-0.4 4.2,-0.4 13.2,0 23.9,10.7 23.9,23.9 0,1.4 -0.1,2.8 -0.4,4.2 l -0.3,1.5 0.8,1.3 c 1.1,1.9 1.6,4 1.6,6.2 0.1,7 -5.5,12.6 -12.4,12.6 z" fill="currentColor"></path>
                                <path d="m 35.1,207.3 -6.3,-1.4 c -2.4,-0.6 -5.1,-1.3 -5.1,-3.6 0,-2.3 1.9,-3.9 5.4,-3.9 7.1,0 6.5,4.9 10,4.9 1.8,0 3.4,-1 3.4,-2.9 0,-4.4 -7,-7.7 -13,-7.7 -6.4,0 -13.2,2.6 -13.2,10 0,3.5 1.2,7.3 8.1,9.1 L 33,214 c 2.6,0.6 3.4,2.1 3.4,3.4 0,2.2 -2.3,4.6 -6.2,4.6 -7.7,0 -6.6,-6.1 -10.7,-6.1 -1.8,0 -3.3,1.3 -3.3,3.1 0,3.6 4.4,8.5 14,8.5 9.2,0 13.8,-4.6 13.8,-10.6 -0.1,-4 -1.9,-8 -8.9,-9.6 z" fill="currentColor"></path>
                            </g>
                        </g>
                    </svg>
                    <span>archik408</span>
                </a>
            </li>
            <li>
                <a class="geo-address" href="https://www.google.com/maps/place/Гродно,+Беларусь" target="_blank" rel="noreferrer noopener external nofollow" aria-label="Местонахождение: Гродно, Беларусь">
                    <svg width="24" height="32" viewBox="0 0 24 32" aria-hidden="true" focusable="false">
                        <path d="M25 12.8c0 .8-.1 1.6-.3 2.4-.1.2-.1.4-.2.6-.8 2.1-2.5 4.1-4 6.2-.9 1.2-4.1 5.6-4.5 6.2-.4-.5-3.6-4.9-4.5-6.2-1.5-2.1-3.2-4.1-4-6.2-.1-.2-.1-.4-.2-.6-.2-.8-.3-1.6-.3-2.4 0-5 4-9 9-9s9 4 9 9zm-5.3-.4c0-2-1.6-3.7-3.7-3.7-2 0-3.7 1.6-3.7 3.7 0 2 1.6 3.7 3.7 3.7 2 0 3.7-1.7 3.7-3.7z" fill="currentColor"></path>
                    </svg>
                    <span>Гродно, Беларусь</span>
                </a>
            </li>
            <li>
                <a class="email-address" href="mailto:zubryby@gmail.com" aria-label="Электронная почта: zubryby@gmail.com">
                    <svg width="32" height="22" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
                        <path d="M1.8 23.2l8.8-7.5-8.8-7v14.5zm14.8-5.9L29.5 7c-.2-.2-.5-.3-.8-.3H3.2c-.3.1-.5.2-.7.3l12.9 10.2c.4.4.9.4 1.2.1zM29.5 25l-10-7.7-1.6 1.3c-.5.5-1.1.7-1.8.7s-1.4-.3-1.9-.8l-2.1-1.7L2.5 25c.2.1.5.2.8.2h25.6c.1 0 .4-.1.6-.2zm.7-1.7V8.8l-9.3 7.4 9.3 7.1zM32 8.2v15.6c0 1.8-1.5 3.2-3.2 3.2H3.2C1.5 27 0 25.6 0 23.8V8.2C0 6.4 1.5 5 3.2 5h25.6C30.5 5 32 6.4 32 8.2z" fill="currentColor"></path>
                    </svg>
                    <span>zubryby@gmail.com</span>
                </a>
            </li>
        </ul>
    </address>
</footer>
