{
    "extends": "loopback",
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "max-len": ["error", { "code": 120 }],
                "indent": ["error", 4],
                "object-curly-spacing": "off",
                "comma-dangle": "off",
                "camelcase": "off"
            }
        }
    ]
}
