<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/AboutPage">
<head>
    {{seo_en "Accessibility" "slide4" "ZUBRY.BY - Private collection of postal items dedicated to the topic of bison. Posted by Artur Basak."}}
    {{resources false "slide4"}}

    <style>
        :root {
            --page-color: var(--postcards-color);
        }

        article {
            flex-direction: column;
        }

        article ul {
            margin: 0 0 1.25em;
            padding: 0 1.1em;
        }

        article h2, article h3 {
            margin: 1em 0 0;
            font-size: var(--head-2-text);
            font-weight: 500;
            color: var(--page-color);
        }

        article hr {
            width: 50%;
            margin: 0;
        }

        article a {
            color: var(--text-color);
            font-style: normal;
        }

        article a:hover,
        article a:focus {
            background-color: var(--black-color);
            color: white;
            font-style: normal;
            outline: none;
        }

        article p {
            margin: 1em 0;
        }

        .cover {
            background-image: url(./assets/pics/slide4.jpg);
            background-position: center 25%;
        }

        @media (max-width: 800px) {
            article figure {
                width: 100%;
                max-width: 100%;
            }

            .noshade {
                width: 100%;
            }
        }
    </style>
</head>
<body>
{{header_en 'accessibility'}}
<div class="cover"></div>
<article>
  <div id="content" class="anchor"></div>
  <div>
    <h1>Accessibility</h1>
      <h2>Accessibility Statement for <span class="basic-information website-name">ZUBRY.BY</span></h2>
      <p>
          <span class="basic-information organization-name">ZUBRY.BY</span>
          is committed to ensuring digital accessibility for people with disabilities.
          We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
      </p>
      <h3>Measures to support accessibility</h3>
      <p>
          <span class="basic-information organization-name">ZUBRY.BY</span>
          takes the following measures to ensure accessibility of
          <span class="basic-information website-name">ZUBRY.BY</span>:
      </p>
      <ul class="organizational-effort accessibility-measures">
          <li>Include accessibility as part of our mission statement.</li>
          <li>Employ formal accessibility quality assurance methods.</li>
      </ul>
      <h3>Conformance status</h3>
      <p>
          The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
          <span class="basic-information website-name">ZUBRY.BY</span>
          is
          <span class="basic-information conformance-status" data-printfilter="lowercase">partially conformant</span>
          with
          <span class="basic-information conformance-standard"><span data-negate="">WCAG 2.1 level AA</span>.</span>
          <span>
	<span class="basic-information conformance-status">Partially conformant</span>
	means that
	<span class="basic-information conformance-meaning">some parts of the content do not fully conform to the accessibility standard</span>.
</span>
      </p>
      <h3>Feedback</h3>
      <p>
          We welcome your feedback on the accessibility of
          <span class="basic-information website-name">ZUBRY.BY</span>.
          Please let us know if you encounter accessibility barriers on
          <span class="basic-information website-name">ZUBRY.BY</span>:
      </p>
      <ul class="basic-information feedback h-card">
          <li>
              E-mail:
              <a class="email u-email" href="mailto:zubryby@gmail.com">zubryby@gmail.com</a>
          </li>
          <li class="contact-other p-note">Skype: archik408<br>Instagram: zubry.by</li>
      </ul>
      <p>
          We try to respond to feedback within <span class="feedback responsetime">2-3 business days</span>.
      </p>
      <h3>Compatibility with browsers and assistive technology</h3>
      <p>
          <span class="basic-information website-name">ZUBRY.BY</span>
          is designed to be compatible with the following assistive technologies:
      </p>
      <ul class="technical-information compatible-environments">
          <li>All modern browsers with Voice Over based on MacOS</li>
          <li>Browsers Chrome and Samsung Internet with Voice Assistant based on Android</li>
      </ul>
      <h3>Technical specifications</h3>
      <p>
          Accessibility of
          <span class="basic-information website-name">ZUBRY.BY</span>
          relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:
      </p>
      <ul class="technical-information technologies-used">
          <li>HTML</li>
          <li>WAI-ARIA</li>
          <li>CSS</li>
          <li>JavaScript</li>
      </ul>
      <p>These technologies are relied upon for conformance with the accessibility standards used.</p>
      <hr noshade="noshade">
      <p>
          This statement was created on
          <span class="basic-information statement-created-date">5 September 2020</span>
          using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.
      </p>
  </div>
</article>
{{footer_en}}
</body>
</html>
