<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    {{seo_en "Main" "slide4" "ZUBRY.BY - Private collection of postal items dedicated to the topic of bison. Posted by Artur Basak."}}
    {{resources true "slide4"}}

    <style>
        .welcome {
            position: absolute;
            top: 0;
            left: 1.375rem;
            z-index: var(--second-layer-z);
            margin: 0;
            padding: 1rem 1rem 2.5rem;
            max-width: 660px;
            width: 40%;
            box-sizing: border-box;
            font-family: var(--serif-fonts);
            font-size: var(--welcome-text);
            font-weight: 100;
            text-transform: inherit;
            background: rgba(0, 0, 0, 0.6);
            border-bottom-left-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            text-shadow: 2px 2px 6px #000;
            color: #fdfdfd;
        }

        .welcome h1 {
            position: unset;
            font-size: var(--welcome-head-text);
            margin-bottom: 0.75em;
            text-transform: unset;
        }

        .welcome a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.15em;
            color: var(--stamps-color);
            text-decoration: none;
            transition: color 0.2s ease-in;
        }

        .welcome a span {
            display: block;
            margin-left: 0.75em;
        }

        .welcome a:hover {
            color: white;
        }

        .welcome a:focus {
            outline: 2px dotted white;
        }

        .welcome .link-arrow {
            animation: link-arrow 0.6s ease-in-out infinite;;
        }

        @keyframes link-arrow {
            0% { transform: translateX(-5px); }
            50% { transform: translateX(0); }
            100% { transform: translateX(5px); }
        }

        .swiper-container {
            position: relative;
            width: 100%;
            height: calc(100vh - var(--header-height));
        }

        .swiper-container .anchor {
            position: absolute;
            top: calc(-1 * var(--header-height));
        }

        .swiper-slide {
            text-align: center;
            background-color: var(--black-color);
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-button-next,
        .swiper-button-prev {
            border-radius: 50%;
            height: 5em;
            width:  5em;
            outline: none;
        }

        .swiper-button-next:focus,
        .swiper-button-prev:focus {
            outline: 0.25em dotted white;
        }

        .swiper-pagination-bullet {
            width: 1em;
            height: 1em;
            opacity: 0.5;
            box-shadow: 0.2em 0.3em 0.8em var(--black-color);
        }

        .swiper-pagination-bullet:focus {
            outline: 0.25em dotted white;
        }

        .swiper-button-prev,
        .swiper-button-next {
            border: 0.3em solid var(--postcards-color);
        }

        .slide-0 {
            background-image:url(./assets/pics/slide0.jpg);
        }

        .slide-1 {
            background-image:url(./assets/pics/slide1.jpg);
        }

        .slide-2 {
            background-image:url(./assets/pics/slide2.jpg);
        }

        .slide-3 {
            background-image:url(./assets/pics/slide3.jpg);
        }

        .slide-4 {
            background-image:url(./assets/pics/slide4.jpg);
            background-position: top;
        }

        .slide-45 {
            background-image:url(./assets/pics/slide45.jpg);
        }

        .slide-5 {
            background-image:url(./assets/pics/slide5.jpg);
            background-position: top;
        }

        .slide-6 {
            background-image:url(./assets/pics/slide6.jpg);
        }

        .slide-7 {
            background-image:url(./assets/pics/slide7.jpg);
        }

        .slide-8 {
            background-image:url(./assets/pics/slide8.jpg);
        }

        .slide-9 {
            background-image:url(./assets/pics/slide9.jpg);
        }

        @media (pointer: coarse) {
            .swiper-button-next:focus,
            .swiper-button-prev:focus,
            .swiper-pagination-bullet:focus {
                outline: none;
            }
        }


        @media (max-width: 800px) {
            .welcome {
                top: initial;
                bottom: 1.5rem;
                left: 0;
                width: 100%;
                padding: 0.75rem;

                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .swiper-container {
                width: 100%;
                height: calc(100vh - var(--header-height));
            }

            .swiper-button-next,
            .swiper-button-prev {
                border: none;
            }

            .swiper-pagination {
                display: none;
            }

            .slide-0 {
                background-image:url(./assets/pics/slide0-800w.jpg);
            }

            .slide-1 {
                background-image:url(./assets/pics/slide1-800w.jpg);
            }

            .slide-2 {
                background-image:url(./assets/pics/slide2-800w.jpg);
            }

            .slide-3 {
                background-image:url(./assets/pics/slide3-800w.jpg);
            }

            .slide-4 {
                background-image:url(./assets/pics/slide4-800w.jpg);
            }

            .slide-45 {
                background-image:url(./assets/pics/slide45-800w.jpg);
            }

            .slide-5 {
                background-image:url(./assets/pics/slide5-800w.jpg);
            }

            .slide-6 {
                background-image:url(./assets/pics/slide6-800w.jpg);
            }

            .slide-7 {
                background-image:url(./assets/pics/slide7-800w.jpg);
            }

            .slide-8 {
                background-image:url(./assets/pics/slide8-800w.jpg);
            }

            .slide-9 {
                background-image:url(./assets/pics/slide9-800w.jpg);
            }
        }

        @media (max-width: 400px) {
            .slide-0 {
                background-image:url(./assets/pics/slide0-400w.jpg);
            }

            .slide-1 {
                background-image:url(./assets/pics/slide1-400w.jpg);
            }

            .slide-2 {
                background-image:url(./assets/pics/slide2-400w.jpg);
            }

            .slide-3 {
                background-image:url(./assets/pics/slide3-400w.jpg);
            }

            .slide-4 {
                background-image:url(./assets/pics/slide4-400w.jpg);
            }

            .slide-45 {
                background-image:url(./assets/pics/slide45-400w.jpg);
            }

            .slide-5 {
                background-image:url(./assets/pics/slide5-400w.jpg);
            }

            .slide-6 {
                background-image:url(./assets/pics/slide6-400w.jpg);
            }

            .slide-7 {
                background-image:url(./assets/pics/slide7-400w.jpg);
            }

            .slide-8 {
                background-image:url(./assets/pics/slide8-400w.jpg);
            }

            .slide-9 {
                background-image:url(./assets/pics/slide9-400w.jpg);
            }
        }

        @media (prefers-reduced-motion: reduce) {
            .welcome a {
                transition: unset;
            }

            .welcome .link-arrow {
                animation: unset;
            }
        }
    </style>
</head>
<body>
{{header_en 'index'}}
<div class="swiper-container">
    <div id="content" class="anchor"></div>
    <div class="welcome">
        <h1>Welcome to the online museum ZUBRY.BY</h1>
        <p>This site is a philatelic and philocartic catalog of a private collection of postal items dedicated to the topic of European Bison (Bison Bonasus).</p>
        <p>
            <a href="./stamps_en.html">Browse postage stamps <span class="link-arrow">→</span></a>
        </p>
    </div>
    <div tabindex="0" role="region" aria-live="polite" class="swiper-wrapper">
        <div class="swiper-slide slide-1"></div>
        <div class="swiper-slide slide-5"></div>
        <div class="swiper-slide slide-2"></div>
        <div class="swiper-slide slide-45"></div>
        <div class="swiper-slide slide-0"></div>
        <div class="swiper-slide slide-3"></div>
        <div class="swiper-slide slide-4"></div>
        <div class="swiper-slide slide-6"></div>
        <div class="swiper-slide slide-7"></div>
        <div class="swiper-slide slide-8"></div>
        <div class="swiper-slide slide-9"></div>
    </div>

    <div class="swiper-pagination swiper-pagination-white"></div>
    <!--<div class="swiper-button-next swiper-button-white"></div>-->
    <!--<div class="swiper-button-prev swiper-button-white"></div>-->
</div>
{{footer_en}}
</body>
</html>
