<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/AboutPage">
<head>
    {{seo_en "Privacy policy" "slide3" "ZUBRY.BY - Private collection of postal items dedicated to the topic of bison. Posted by Artur Basak."}}
    {{resources false "slide3"}}

    <style>
        :root {
            --page-color: var(--photos-color);
        }

        article {
            flex-direction: column;
        }

        article ul {
            margin: 0 0 1.25em;
            padding: 0 1.1em;
        }

        article h2, article h3 {
            margin: 1em 0 0;
            font-size: var(--head-2-text);
            font-weight: 500;
            color: var(--page-color);
        }

        article hr {
            width: 50%;
            margin: 0;
        }

        article a {
            color: var(--text-color);
            font-style: normal;
        }

        article a:hover,
        article a:focus {
            background-color: var(--black-color);
            color: white;
            font-style: normal;
            outline: none;
        }

        article p {
            margin: 1em 0;
        }

        .cover {
            background-image: url(./assets/pics/slide3.jpg);
            background-position: center 25%;
        }

        @media (max-width: 800px) {
            article figure {
                width: 100%;
                max-width: 100%;
            }

            .noshade {
                width: 100%;
            }
        }
    </style>
</head>
<body>
{{header_en 'privacy'}}
<div class="cover"></div>
<article>
  <div id="content" class="anchor"></div>
  <div>
    <h1>Privacy policy</h1>
          <h2>Privacy policy of the website ZUBRY.BY</h2>
          <p>The ZUBRY.BY website administration undertakes to maintain your privacy on the Internet. We attach great importance to the protection of the data you provide. Our privacy policy is based on the <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">General Data Protection Regulation of the European Union (GDPR).</a><br><br>The purposes for which we collect personal data: to improve the operation of our service, to provide services related to the activities of this site, as well as for the actions indicated below.</p>
          <h3>Use of technical data when visiting the site</h3>
          <p>When you visit the ZUBRY.BY website, the database stores records about your IP address, time of visit, browser settings, operating system, as well as other technical information necessary for the correct display of the website content. Based on this data, it is impossible for us to identify the identity of the visitor.</p>
          <h3>Use of cookies</h3>
          <p>For the correct display of the content and for the convenience of using the ZUBRY.BY website, we use cookies. These are small files that are stored on your device. They help the site remember information about you, for example, in what language you are viewing the site and which pages you have already opened, this information will be useful the next time you visit. <br><br>Cookies make browsing the site much more convenient. You can read more about these files <a href="https://en.wikipedia.org/wiki/Cookie">here</a>. You can configure the acceptance or blocking of cookies in your browser yourself. Failure to accept cookies may limit the site's performance.</p>
          <h3>Use of personal data by third-party services</h3>
          <p>This website uses third-party Internet services that collect information independent of us: Google Analytics. The data they collect may be shared with other services within these organizations, they may use the data to personalize the advertisements of their own ad network. <br><br>You can read the user agreements of these organizations on their sites. There you can also refuse to collect personal data by them, for example, the <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Google Analytics blocker is located here</a>. <br><br>We do not transfer personal data to other organizations and services not specified in this privacy policy. The only exception is the transfer of information under the legal requirements of state bodies authorized to carry out these actions.</p>
          <h3>Links to other websites</h3>
          <p>Our site ZUBRY.BY may contain links to other sites that are not operated by us. We are not responsible for their content. We recommend that you read the privacy policy of each site you visit, if applicable.</p>
          <h3>Changes to privacy policy</h3>
          <p>Our website ZUBRY.BY may update our privacy policy from time to time. We will communicate any changes by posting a new privacy policy on this page. We monitor changes in legislation regarding personal data in the European Union and in the state of the Republic of Belarus. <br><br>If you have left personal data with us, we will notify you about the change in the privacy policy. If your personal data was entered incorrectly, then we will not be able to contact you.</p>
          <h3>Feedback, final provisions</h3>
          <p>You can contact the administration of the ZUBRY.BY website on questions related to the privacy policy at: <a class="email u-email" href="mailto:zubryby@gmail.com">zubryby@gmail.com</a>. <br><br>If you do not agree with this privacy policy, you cannot use the services of the ZUBRY.BY website, in which case you should refrain from visiting our website.</p>
  </div>
</article>
{{footer_en}}
</body>
</html>
