<!DOCTYPE html>
<html lang="ru" itemscope itemtype="http://schema.org/AboutPage">
<head>
    {{seo "Политика конфиденциальности" "slide3" "ZUBRY.BY - Частная коллекция почтовых предметов, посвященная теме зубров. Автор - Артур Басак."}}
    {{resources false "slide3"}}

    <style>
        :root {
            --page-color: var(--photos-color);
        }

        article {
            flex-direction: column;
        }

        article h1 {
            font-size: 3em; // specific case for long sentence
        }

        article ul {
            margin: 0 0 1.25em;
            padding: 0 1.1em;
        }

        article h2, article h3 {
            margin: 1em 0 0;
            font-size: var(--head-2-text);
            font-weight: 500;
            color: var(--page-color);
        }

        article hr {
            width: 50%;
            margin: 0;
        }

        article a {
            color: var(--text-color);
            font-style: normal;
        }

        article a:hover,
        article a:focus {
            background-color: var(--black-color);
            color: white;
            font-style: normal;
            outline: none;
        }

        article p {
            margin: 1em 0;
        }

        .cover {
            background-image: url(./assets/pics/slide3.jpg);
            background-position: center 25%;
        }

        @media (max-width: 800px) {
            article h1 {
                font-size: 1.85em;
                top: -3.5em;
            }

            article figure {
                width: 100%;
                max-width: 100%;
            }

            .noshade {
                width: 100%;
            }
        }
    </style>
</head>
<body>
{{header 'privacy'}}
<div class="cover"></div>
<article>
  <div id="content" class="anchor"></div>
  <div>
    <h1>Политика конфиденциальности</h1>
          <h2>Политика Конфиденциальности сайта ZUBRY.BY</h2>
          <p>Администрация сайта ZUBRY.BY обязуется сохранять вашу конфиденциальность в Интернете. Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности основана на требованиях <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">Общего регламента о защите персональных данных Европейского Союза (GDPR). </a> <br><br>Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса, осуществление услуг, связанных с направлением деятельности данного сайта, а так же для указанных ниже действий.</p>
          <h3>Использование технических данных при посещении сайта</h3>
          <p>При посещении вами сайта ZUBRY.BY в базе данных сохраняются записи о вашем IP адресе, времени посещения, настройках браузера, операционной системе, а также другая техническая информация необходимая для корректного отображения содержимого сайта. По этим данным нам невозможно идентифицировать личность посетителя.</p>
          <h3>Использование cookies</h3>
          <p>Для корректного отображения содержимого и для удобства использования сайта ZUBRY.BY мы используем cookie файлы. Это небольшие файлы, которые хранятся на вашем устройстве. Они помогают сайту запомнить информацию о вас, например на каком языке вы просматриваете сайт и какие страницы вы уже открывали, эта информация будет полезна при следующем посещении. <br><br>Благодаря файлам cookie просмотр сайта становится значительно более удобным. Подробнее про эти файлы вы можете <a href="https://ru.wikipedia.org/wiki/Cookie">прочитать тут</a>. Вы можете настроить прием или блокировку cookie в браузере самостоятельно. Невозможность принимать cookie может ограничить работоспособность сайта.</p>
          <h3>Использование персональных данных другими сервисами</h3>
          <p>На этом сайте используются сторонние интернет-сервисы, осуществляющие независимый от нас сбор информации: Google Analytics. Собранные ими данные могут предоставляться другим службам внутри этих организаций, они могут использовать данные для персонализации рекламы своей собственной рекламной сети.<br><br> Вы можете прочитать пользовательские соглашения этих организаций на их сайтах. Там же вы можете отказаться от сбора ими персональных данных, к примеру блокировщик <a href="https://tools.google.com/dlpage/gaoptout?hl=ru">Google Analytics находится тут</a>. <br><br>Мы не передаем персональные данные другим организациям и службам, не указанным в данной политике конфиденциальности. Исключение составляет только передача информации при законных требованиях государственных органов уполномоченных осуществлять данные действия.</p>
          <h3>Ссылки на другие сайты</h3>
          <p>Наш сайт ZUBRY.BY может содержать ссылки на другие сайты, которые не управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете, если она там есть.</p>
          <h3>Изменения в политике конфиденциальности</h3>
          <p>Наш сайт ZUBRY.BY может&nbsp;обновлять нашу политику конфиденциальности время от времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице. Мы отслеживаем изменения законодательства, касающегося персональных данных в Европейском Союзе и в государстве Республика Беларусь. <br><br>Если вы оставили персональные данные у нас, то мы оповестим вас об изменении в политике конфиденциальности. Если ваши персональные данные были введены не корректно, то мы не сможем с вами связаться.</p>
          <h3>Обратная связь, заключительные положения</h3>
          <p>Связаться с администрацией сайта ZUBRY.BY по вопросам, связанным с политикой конфиденциальности можно по адресу: <a class="email u-email" href="mailto:zubryby@gmail.com">zubryby@gmail.com</a>. <br><br>Если вы не согласны с данной политикой конфиденциальности, вы не можете пользоваться услугами сайта ZUBRY.BY, в этом случае вы должны воздержаться от посещения нашего сайта.</p>
  </div>
</article>
{{footer}}
</body>
</html>
