article {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: white;
    padding: 1em 2em;
    color: var(--black-color);
    box-sizing: border-box;
}

article > div {
    width: 100%;
    max-width: 1920px;
}

.cover {
    width: 100%;
    height: 32em;
    max-width: 1920px;
    margin: auto;
    background-position: center;
    background-size: cover;
}

h1 {
    position: relative;
    font-size: 2.5em;
    margin: 0.25em 0;
    font-weight: 300;
    text-transform: uppercase;
}

h1::first-letter {
    color: var(--page-color);
    font-size: 2em;
    font-family: 'Marck Script', cursive;
}

h1::after {
    position: absolute;
    top: 2.25em;
    right: 0;
    width: 90%;
    height: 0.4em;
    background: var(--page-color);
    content: '';
}

article p {
    max-width: 50%;
    margin: 1.25em 0 2em;
    font-size: 1.25em;
    font-weight: 300;
    word-break: normal;
    overflow-wrap: break-word;
    text-align: justify;
}

article picture {
    height: auto;
    width: 50%;
}

article img {
    height: auto;
    width: 100%;
    filter: contrast(105%) brightness(110%) saturate(115%);
}

article section {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2em;
}

article .details {
    width: 50%;
    max-width: 520px;
    padding: 0 4em 2em;
    box-sizing: border-box;
}

article .details > a > time {
    font-size: 2em;
    font-weight: 300;
}

article .details > a {
    color: currentColor;
    text-decoration: none;
    font-style: normal;
    outline: none;
}

article .details > a svg {
    color: currentColor;
    visibility: hidden;
}

article .details > a:hover svg,
article .details > a:focus svg {
    visibility: visible;
}

article .details > h2 {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

article .details > dl {
    border-left: 0.25em solid var(--page-color);
    padding-left: 1em;
}

article .details dt {
    font-weight: 600;
}

article .details dd {
    margin: 0 0 1em;
}

@media all and (max-width: 769px) {
    article {
        padding: 1em;
    }

    article section {
        flex-direction: column;
        align-items: flex-start;
    }

    article p,
    article img,
    article picture,
    article .details {
        max-width: 100%;
        width: 100%;
    }

    article .details {
        padding: 1.5em 1em 0;
    }
}

@media all and (max-width: 400px) {
    .cover {
        height: 25em;
    }
}
