article {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: white;
    padding: 1em 2em;
    color: var(--black-color);
    box-sizing: border-box;

    --page-color: var(--black-color);
}

article > div {
    max-width: 1920px;
}

.cover {
    width: 100%;
    height: 32em;
    background-position: center;
    background-size: cover;
}

h2 {
    position: relative;
    font-size: 3em;
    margin: 1em 0;
    font-weight: 300;
    text-transform: uppercase;
}

h2::before {
    position: absolute;
    top: -0.5em;
    right: 0;
    width: 90%;
    height: 0.0625em;
    background: var(--page-color);
    content: '';
}

h2::after {
    position: absolute;
    top: 1.25em;
    right: 0;
    width: 90%;
    height: 0.4em;
    background: var(--page-color);
    content: '';
}

article p {
    max-width: 35em;
    margin: 1.25em 0 2em;
    font-size: 1.25em;
    font-weight: 300;
    word-break: break-word;
}

article picture {
    height: auto;
    width: 50%;
}

article img {
    height: auto;
    width: 100%;
}

article section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2em;
}

article .details {
    width: 50%;
    padding: 4em;
}

article .details > time {
    font-size: 2em;
    font-weight: 300;
}

article .details > h3 {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

article .details > dl {
    border-left: 0.25em solid var(--page-color);
    padding-left: 1em;
}

article .details dt {
    font-weight: 600;
}

article .details dd {
    margin: 0 0 1em;
}

@media all and (max-width: 769px) {
    article {
        padding: 1em;
    }

    article section {
        flex-direction: column;
        align-items: flex-start;
    }

    article img,
    article picture {
        width: 100%;
    }

    article .details {
        padding: 1.5em 1em 0;
    }
}
