:root {
    /* palette */

    --black-color: #1d1e20;
    --dark-gray-color: #414141;
    --gray-color: rgb(163, 170, 182);
    --light-gray-color: #f1efef;
    --beige-color: #c5a979;
    --blue-sky-color: #7995c5;
    --emerald-color: #79c5a9;
    --red-color: #c57995;
    --light-wood-color: #c9936c;

    /* themes */

    --stamps-color: var(--beige-color);
    --envelopes-color: var(--blue-sky-color);
    --postal-cards-color: var(--emerald-color);
    --postcards-color: var(--red-color);
    --about-color: var(--light-wood-color);

    --page-color: white;
    --btn-bg-color: var(--page-color);
    --scrollbar-bg-color: var(--dark-gray-color);
    --thumb-bg-color: var(--page-color);

    --text-color: var(--black-color);
    --secondary-text-color: var(--black-color);

    --image-placeholder-color: var(--light-gray-color);

    /* typography */

    --serif-fonts: Lora,'Times New Roman', serif;
    --sans-serif-fonts: Montserrat, Helvetica, sans-serif;

    --welcome-head-text: 1.75em;
    --welcome-text: 1.125em;
    --head-1-text: 3.5rem;
    --head-2-text: 1.5rem;
    --date-text: 1.75rem;
    --normal-text: 0.875rem;

    /* spacing system */
    --space-factor: 8px;

    /* layer system */
    --header-z: 10;
    --nav-z: 9;
    --second-layer-z: 2;

    /* common */
    --header-height: 7.25em;

}

*::selection {
    background: var(--page-color);
    color: white;
}

html,
body {
    position: relative;
}

body {
    background: var(--black-color);
    font-family: var(--sans-serif-fonts);
    font-size: var(--normal-text);
    color: white;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-bg-color) var(--scrollbar-bg-color);
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--thumb-bg-color) ;
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    border: none;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: var(--header-z);
    width: 100%;
    height: auto;
    max-height: var(--header-height);
    box-sizing: border-box;
    background: var(--black-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0 0.25em 1em;
    color: white;
    text-decoration: none;
    outline: none;
}

.logo > div {
    padding: 0.25em 0 0;
    border: none;
    background: var(--page-color);
    transition: opacity 0.3s ease-in;
    box-sizing: border-box;
    outline: 0.125em dashed var(--page-color);
    outline-offset: 0;
}

.logo img {
    width: 2.75em;
    height: 2.75em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 0.5em;
    background: var(--black-color);
    box-shadow: 0 0.1em 0.75em 0 var(--black-color);
    font-size: 1.25em;
    box-sizing: border-box;
}

.logo p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 0.5em;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    opacity: 0.8;
}

.logo p > span {
    font-size: .5em;
    font-weight: 300;
    max-width: 14em;
    opacity: 0.8;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 2.25em;
    margin: 0;
    color: white;
    list-style: none;
}

.switch-lang-mobile {
    display: none;
}

.switch-lang-mobile a,
.switch-lang-mobile a:visited {
    color: var(--page-color);
    margin-right: 1em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.open-mobile-menu,
.close-mobile-menu {
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
}

.open-mobile-menu > svg,
.close-mobile-menu > svg {
    width: 2em;
}

.mobile-menu-wrapper {
    position: absolute;
    right: 0;
    z-index: var(--second-layer-z);
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    width: 0;
    height: 100vh;
    transition: width 0.3s ease-in;
    will-change: width;
}

.mobile-menu {
    display: none;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: var(--black-color);
}

.mobile-menu > .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: unset;
    padding: 0;
}

.mobile-menu > .menu > li {
    margin: 0;
    padding: 1.5em;
    border-bottom: 0.0625em solid currentColor;
    font-size: 1.2em;
}

.mobile-menu > .menu > li:last-child {
    margin: 0;
    border-bottom: none;
}

.menu > li {
    margin: 0 1em;
}

.menu > li a {
    position: relative;
    border: 0.25em solid transparent;
    color: white;
    font-size: var(--normal-text);
    font-weight: 300;
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity, color 0.3s ease-out;
}

.menu > li a::after {
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 0;
    height: 0.15em;
    color: inherit;
    background: currentColor;
    content: '';
    transition: width 0.3s ease-out;
}

.menu > li a:hover::after {
    width: 100%;
}

.menu > li a:hover {
    opacity: 1;
}

.menu > li .stamps:hover {
    color: var(--stamps-color);
}

.menu > li .envelopes:hover {
    color: var(--envelopes-color);
}

.menu > li .postal-cards:hover {
    color: var(--postal-cards-color);
}

.menu > li .postcards:hover {
    color: var(--postcards-color);
}

.menu > li .about:hover {
    color: var(--about-color);
}

.menu > li a:focus {
    outline: 0.25em solid white;
    background: white;
    color: #1d1e20;
}

.menu > li a:focus::after {
    display: none;
}

.menu > li .stamps:focus,
.menu > li .envelopes:focus,
.menu > li .postcards:focus,
.menu > li .postal-cards:focus {
    color: #1d1e20;
}

@media (pointer: coarse) {
    .menu > li a:focus {
        outline: none;
    }

    .menu > li a:hover::after {
        width: 0;
    }
}

.top-link {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: var(--nav-z);
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
    background: white;
    box-shadow: 0.02em 0.02em 0.15em currentColor;
    border: none;
    border-radius: 50%;
    opacity: 0.5;

    font-size: 2.8rem;
    line-height: 1.25;
    text-decoration: none;

    visibility: hidden;
}

.top-link:active, .top-link:visited {
    color: var(--text-color);
}

.top-link:focus {
    outline: 0.05em dotted var(--gray-color);
}

@media (pointer: fine) {
    .top-link:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.skip-links {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}

.skip-links .arrow-down {
    color: var(--page-color);
}

.skip-links > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
    margin: 0;
    background: var(--dark-gray-color);
    font-size: 0.7em;
    line-height: 1.75;
    list-style: none;
}

.skip-links > ul li {
    padding: 0;
    margin: 0;
}

.skip-links  a,
.skip-links  a:visited {
    margin: 0 1em;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    transition: opacity 0.3s ease-out;
    text-decoration: underline;
}

.skip-links  a:hover {
    color: rgba(255, 255, 255, 1);
}

.skip-links  a:focus {
    outline: 0.15em dotted var(--gray-color);
}

.skip-links .lang-opt a {
    margin: 0;
}

.skip-links .lang-opt::after {
    content: "|";
    margin: 0;
    margin-left: 1em;
}

.skip-links .lang-opt *:first-child {
    margin-left: 0.5em;
}

.skip-links .lang-opt *:first-child::after {
    content: "";
    display: inline-block;
    background-color: var(--page-color);
    width: 4px;
    height: 4px;
    margin: -4px 0.5em 0;
    vertical-align: middle;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
    background: var(--black-color);
    padding: 1em 2em 0;
    height: 10em;
    max-height: 10em;
}

footer p {
    margin: 0 0 0.5em;
    opacity: 0.6;
    color: white;
    font-size: var(--normal-text);
    font-weight: 400;
    line-height: 1.5;
}

footer address > p {
    margin: 0 0 1em;
    opacity: 0.6;
    font-weight: 400;
    text-align: center;
}

footer cite,
footer time,
footer address {
    font-style: normal;
}

footer a {
    border: none;
    color: white;
    opacity: 0.6;
    transition: opacity 0.3s ease-out;
    text-decoration: none;
}

footer a:hover {
    opacity: 1;
}

footer a:focus {
    outline: 0.25em dotted var(--gray-color);
}

footer .info,
footer .contacts {
    margin: 0;
    padding: 0;
    font-size: var(--normal-text);
    list-style: none;
}

footer .info {
    margin: 0 0 .8em;
}

footer .contacts a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.25em;
}

footer .info a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0.6em;
}

footer .info .a11y,
footer .info .privacy {
    color: var(--page-color);

    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

footer .contacts svg {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em 0.5em 0.5em 0;
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social li img {
    width: 3em;
    height: 3em;
    filter: contrast(0.35);
    transition: transform 0.2s ease-in;
}

footer .social li img:hover {
    transform: rotate(15deg);
}

footer > div {
    text-align: left;
}

@media all and (max-width: 800px) {
    :root {
        --head-1-text: 3em;
        --head-2-text: 1.6em;
    }

    header nav {
        padding: 0.5em 1em;
        box-shadow: 0 0.4em 0.75em 0 var(--black-color);
    }

    .logo {
        padding: 0;
    }

    .logo strong {
        font-size: 1.25em;
    }

    .menu {
        display: none;
    }

    .switch-lang-mobile {
        display: block;
    }

    .open-mobile-menu {
        display: block;
    }

    .menu > li a {
        font-size: 1rem;
    }

    .skip-links {
        display: none;
    }

    footer {
        padding: 1em 1em;
        font-size: var(--normal-text);
    }

    footer > div {
        text-align: center;
    }

    footer .contacts a {
        justify-content: flex-start;
    }

    footer .info a {
        justify-content: center;
    }
}

@media all and (max-width: 700px) {
    footer {
        align-items: center;
        flex-direction: column-reverse;
        height: auto;
        max-height: none;
    }

    footer p {
        margin-top: 1em;
    }

    footer .info a,
    footer .contacts a {
        justify-content: center;
    }

    footer .contacts .phone,
    footer .contacts .geo-address {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    footer a,
    .logo > div,
    .menu > li a,
    .skip-links  a,
    .menu > li a::after,
    .mobile-menu-wrapper,
    footer .social li img {
        transition: none;
    }
}
