:root {
    --black-color: #1d1e20;
    --gray-color: rgb(163, 170, 182);

    --stamps-color: #c5a979;
    --envelopes-color: #7995c5;
    --postcards-color: #79c5a9;
    --photos-color: #c57995;
    --about-color: #c9936c;

    --page-color: white;

    --scrollbar-bg-color: var(--page-color);
    --thumb-bg-color: var(--black-color);
}

html,
body {
    position: relative;
}

body {
    background: var(--black-color);
    font-family: Helvetica, sans-serif;
    font-size: 0.875rem;
    color: white;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-bg-color) var(--scrollbar-bg-color);
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg-color) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbar-bg-color);
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 6.25em;
    box-sizing: border-box;
    background: var(--black-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0 0.25em 1em;
    color: white;
    text-decoration: none;
    outline: none;
}

.logo > div {
    padding: 0.25em 0 0;
    border: none;
    background: var(--page-color);
    transition: opacity 0.3s ease-in;
    box-sizing: border-box;
    outline: 0.125em dashed var(--page-color);
    outline-offset: 0;
}

.logo img {
    width: 2.75em;
    height: 2.75em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 0.5em;
    background: var(--black-color);
    box-shadow: 0 0.1em 0.75em 0 var(--black-color);
    font-size: 1.25em;
    box-sizing: border-box;
}

.logo p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0.25em 0.5em;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    opacity: 0.8;
}

.logo p > span {
    font-size: .5em;
    font-weight: 300;
    max-width: 14em;
    opacity: 0.8;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.25em;
    margin: 0;
    color: white;
    list-style: none;
}

.open-mobile-menu,
.close-mobile-menu {
    display: none;
    border: none;
    background: transparent;
    outline: none;
}

.open-mobile-menu > svg,
.close-mobile-menu > svg {
    width: 2em;
}

.mobile-menu {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: var(--black-color);
    z-index: 2;
}

.mobile-menu > .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: unset;
    padding: 0;
}

.mobile-menu > .menu > li {
    margin: 0;
    padding: 1.5em;
    border-bottom: 0.0625em solid currentColor;
    font-size: 1.2em;
}

.mobile-menu > .menu > li:last-child {
    margin: 0;
    border-bottom: none;
}

.menu > li {
    margin: 0 1em;
}

.menu > li:last-child {
    margin-right: 4em;
}

.menu > li a {
    position: relative;
    border: 0.25em solid transparent;
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity, color 0.3s ease-out;
}

.menu > li a::after {
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 0;
    height: 0.15em;
    color: inherit;
    background: currentColor;
    content: '';
    transition: width 0.3s ease-out;
}

.menu > li a:hover::after {
    width: 100%;
}

.menu > li a:hover {
    opacity: 1;
}

.menu > li .stamps:hover {
    color: var(--stamps-color);
}

.menu > li .envelopes:hover {
    color: var(--envelopes-color);
}

.menu > li .postcards:hover {
    color: var(--postcards-color);
}

.menu > li .photos:hover {
    color: var(--photos-color);
}

.menu > li .about:hover {
    color: var(--about-color);
}

.menu > li a:focus {
    outline: 0.25em solid white;
    background: white;
    color: #1d1e20;
}

.menu > li a:focus::after {
    display: none;
}

.menu > li .stamps:focus,
.menu > li .envelopes:focus,
.menu > li .postcards:focus,
.menu > li .photos:focus {
    color: #1d1e20;
}

@media (pointer: coarse) {
    .menu > li a:focus {
        outline: none;
    }

    .menu > li a:hover::after {
        width: 0;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10em;
    box-sizing: border-box;
    color: white;
    background: var(--black-color);
    padding: 0 2em;
}

footer p {
    margin: 1em 0;
    opacity: 0.6;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
}

footer address > p {
    margin: 1em 0;
    opacity: 0.6;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

footer cite,
footer time,
footer address {
    font-style: normal;
}

footer a {
    border: none;
    color: white;
    opacity: 0.6;
    transition: opacity 0.3s ease-out;
    text-decoration: none;
}

footer a:hover {
    opacity: 1;
}

footer a:focus {
    outline: 0.25em dotted var(--gray-color);
}

footer .contacts {
    margin: 0;
    padding: 0;
    font-size: 1em;
    list-style: none;
}

footer .contacts a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.25em;
}

footer .contacts svg {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em 0.5em 0.5em 0;
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social li img {
    width: 3em;
    height: 3em;
    filter: contrast(0.35);
    transition: transform 0.2s ease-in;
}

footer .social li img:hover {
    transform: rotate(15deg);
}

footer > div {
    text-align: center;
}

@media all and (max-width: 769px) {
    header nav {
        padding: 0.5em 1em;
        box-shadow: 0 0.4em 0.75em 0 var(--black-color);
    }

    .logo {
        padding: 0;
    }

    .logo p {
        font-size: 1.25em;
    }

    .logo h1,
    .logo-text h1 {
        font-size: 1.75em;
    }

    .logo-text {
        height: auto;
        padding: 1em 1.125em;
    }

    .menu {
        display: none;
    }

    .open-mobile-menu {
        display: block;
    }

    footer {
        padding: 1em 1em;
        font-size: 0.8em;
    }
}

@media all and (max-width: 700px) {
    footer {
        flex-direction: column-reverse;
        height: auto;
    }

    footer .contacts a {
        justify-content: center;
    }

    footer .contacts .phone,
    footer .contacts .geo-address {
        display: none;
    }
}
